{% extends "base.html" %}
{% block content %}
   <div class="container">
    <form class="mb-4" method="POST">
      <input class="form-control" type="text" placeholder="Name der Karte" name="name"><br/>
      <input class="form-control" type="text" placeholder="Typ" name="typ"><br/>
      <select class="form-select" name="farbe">
        <option value="none" selected>Farbe wählen</option>
        <option value="rot">rot</option>
        <option value="blau">blau</option>
        <option value="weiss">weiss</option>
        <option value="schwarz">schwarz</option>
        <option value="grün">grün</option>
        <option value="farblos">farblos</option>
      </select>
      <br/>
      <select class="form-select" name="seltenheit">
        <option value="none" selected>Seltenheit wählen</option>
        <option value="C">Common</option>
        <option value="U">Uncommon</option>
        <option value="R">Rare</option>
        <option value="M">Mythical Rare</option>
      </select>
      <br/>
      <input type="submit" class="btn btn-dark" value="Suchen...">
    </form>
   </div>
{% endblock %}
