<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Magic Karten Verwaltung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
  </head>
  <body>
    {% include "navbar.html" %}
    {% if results %}
    <table class="table table-striped table-bordered" id="karten">
      <thead>
        <tr>
          <th class="th-sm" data-mdb-sort="true">Name</th>
          <th class="th-sm">Typ</th>
          <th class="th-sm">Werte</th>
          <th class="th-sm">Farbe</th>
          <th class="th-sm">Seltenheit</th>
          <th class="th-sm">Serie</th>
          <th class="th-sm">Kosten</th>
          <th class="th-sm">Sprache</th>
          <th class="th-sm">Anzahl</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td><a href="https://www.cardmarket.com/de/Magic/Products/Search?searchString={{ result['Name'] }}">{{ result['Name'] }}</a></td>
          <td>{{ result['Typ'] }}</td>
          <td>{{ result['Stärke'] }}/{{ result['Abwehr'] }}</td>
          <td>{{ result['Farbe'] }}</td>
          <td>{{ result['Seltenheit'] }}</td>
          <td>{{ result['Serie'] }}</td>
          <td>{{ result['Manakosten'] }}</td>
          <td>{{ result['Sprache'] }}</td>
          <td>{{ result['Anzahl'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
      <p>Leider nichts gefunden...
    {% endif %}
        <script src="./static/bootstrap.min.js"></script>
        <script src="./static/jquery-3.7.0.min.js"></script>
        <script src="./static/datatables.min.js"></script>
        <script>
          let table = new DataTable('#karten');
        </script>
  </body>
</html>
